@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");
@import "tailwindcss";

@plugin "daisyui" {
  themes: light;
}

.font-cairo {
  font-family: "Cairo", sans-serif;
}
body {
  background-color: #fffff2;
  font-family: "Cairo", sans-serif;
}
.text-primary {
  color: #712bf8;
}
.bg-primary {
  background-color: #712bf8;
}
.bg-primary-700 {
  background-color: #712bf8;
}

.border-primary {
  border-color: #8d55f9;
}

.text-secondary {
  color: #5c5c5c;
}
.text-medGray {
  color: #8b8b8b;
}
.bg-lightGrey {
  background-color: #C6C6C6;
}

.primaryTransparent {
  background-color: rgba(113, 43, 248, 0.08);
}

.main-linear-bg {
  background: linear-gradient(180deg, #8d55f9 0%, #4806c8 100%);
}
.text-main-linear {
  color: linear-gradient(180deg, #8d55f9 0%, #4806c8 100%);
}
